$squareSize: 20px;

.square {
  width: $squareSize;
  height: $squareSize;
  border: 1px black solid;
  background-color: hsl(0, 0%, 90%);
  display: inline-block;
}
.board-container {
  display: grid;
  grid-template-rows: repeat(20, $squareSize);
  border: 1px black solid;
}

.transparent {
  opacity: 0.5;
}

app-row {
  grid-template-columns: repeat(10, $squareSize);
}

.effects {
  visibility: hidden;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img {
  max-height: 280px;
}
