<header>
  <div>
    <h2 data-testid="level" *ngIf="level$ | async as level">
      Level: {{ level }}
    </h2>
    <h2 data-testid="score">Score: {{ score$ | async }}</h2>
  </div>
  <div class="img">
    <img
      *ngIf="gen.savedTetro"
      src="assets/{{ gen.savedTetro }}-tetronome.png"
      alt="{{ gen.savedTetro }}"
    />
  </div>
</header>
<section class="game-container">
  <div class="board-container" *ngIf="board$ | async as board">
    <div data-testid="row" *ngFor="let row of board; let y = index">
      <div
        *ngFor="let square of row; let x = index"
        [style]="'background-color: ' + square.color + ';'"
        [ngClass]="{ transparent: !square.solid }"
        [attr.coordinate]="x.toString() + '-' + y.toString()"
        class="square"
        [attr.data-testid]="
          square.isPlayer
            ? 'player-piece'
            : square.color === 'white'
            ? 'square'
            : square.solid
            ? 'solid-piece'
            : 'shadow-block'
        "
      ></div>
    </div>
  </div>
  <aside *ngIf="preview$ | async as preview">
    <div class="img" *ngFor="let shape of preview">
      <img src="assets/{{ shape }}-tetronome.png" alt="{{ shape }}" />
    </div>
  </aside>
</section>
