<section class="board-container" *ngIf="board$ | async as board">
  <div data-testid="row" *ngFor="let row of board; let y = index">
    <div
      *ngFor="let square of row; let x = index"
      [style]="'background-color: ' + square.color + ';'"
      [ngClass]="{ transparent: !square.solid }"
      [attr.coordinate]="x.toString() + '-' + y.toString()"
      class="square"
      [attr.data-testid]="
        square.isPlayer
          ? 'player-piece'
          : square.color === 'white'
          ? 'square'
          : square.solid
          ? 'solid-piece'
          : 'shadow-block'
      "
    ></div>
  </div>
</section>
