main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.directions {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}
